* {
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	color: black;
}

.bg {
	background-color: mistyrose;
}

header {
	writing-mode: vertical-lr;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
.d1 {
	background: linear-gradient(pink,mistyrose);
	width: 50px;
	height:150px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.d1:hover {
	background: linear-gradient(black, black);
	color: mistyrose;
}

.c1 {
	color: gray;
	font-size: 18px;
}

ul {
	display: flex;
	padding-left: 100px;
	margin-top: px;
}

li {
	list-style: none;
	height:30px;
	width: 50vw;
	border-radius: 100px;
	background: radial-gradient(white, mistyrose);
	display: flex;
	align-items: center;
	justify-content: center;
}

.d2:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}


article {
	margin-left: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
}

h2 {
	color: black;
	text-align: center;
	padding-top:px;
}

.c2 {
	color: gray;
	text-align: center;
	margin-bottom: 30px;
}

section {
	box-shadow: 0px 0px 30px 0px white;
	display: flex;
	align-items: flex-start;
	word-break: keep-all;
	margin-bottom: 15px;
	line-height: 28px;
	border-radius: 20px;
	padding: 15px;
}

h3 {
	color: dimgray;
	writing-mode: vertical-rl;
	text-orientation: upright;
	letter-spacing: 3px;
}

img {
	width: 350px;
}

p,
img,
h3 {
	margin: 10px;
}

p {
	margin-bottom: 20px;
}

footer {
	text-align: right;
	font-size: 12px;
}

@media screen and (max-width: 900px) {
	header {
		writing-mode: horizontal-tb;
		display: block;
		position: static;
	}

	h1,
	.d1 {
		width: 150px;
		height:50px;
		margin-left: auto;
	    margin-right: auto;
	    font-size: 29px;
	}

	.d1:hover {
		width: 150px;
		height:50px;
	}

	.c1 {
	    text-align: center;
		display: block;
		font-size: 17px;
	}

	ul {
		padding-left: 5px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: 15px;
	}

	li {
		height:27px;
		width: 30vw;
	}

	img {
		width: 60vw;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 15px;
	}

	article {
		margin-left: 5px;
		margin-bottom: 50px;
		margin-top: 80px;
	}

	section {
		display: block;
	}

	h3 {
		writing-mode: horizontal-tb;
	}
}