header {
	background-color: lightsteelblue;
	margin-bottom: 30px;
}

h1 {
	color: slategray;
	text-align: center;
}

.c1 {
	color: white;
}

article {
	background-color: aliceblue;
	margin-bottom: 15px;
}

h2 {
	color: cornflowerblue;
	text-align: center;
}

.c2 {
	color: gray;
	text-align: center;
	margin-bottom: 25px;
}

section {
	display: flex;
	align-items: flex-start;
	word-break: keep-all;
	border: 2px dotted silver;
	margin-bottom: 10px;
	line-height: 28px;
	border-radius: 20px;
	padding: 15px;
}

h3 {
	color: dimgray;
	writing-mode: vertical-rl;
	text-orientation: upright;
	letter-spacing: 3px;
}

img {
	width: 350px;
}

header,
article {
	border-radius: 20px;
	padding: 15px;
}

p,
img,
h3 {
	margin: 10px;
}

@media screen and (max-width: 900px) {
	img {
		width: 320px;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 15px;
	}
	section {
		display: block;
	}
	h3 {
		writing-mode: horizontal-tb;
	}
}