* {
	padding: 5px;
	margin: 5px;
	list-style: none;
}

.bg {
	background-color: black;
}

header {
	writing-mode: vertical-lr;
}

h1 {
	color: mistyrose;
}

.c1 {
	color: silver;
}

.d1 {
	left: 180px;
	width: 120px;
	height: 120px;
}

.d2 {
	left: 360px;
	width: 180px;
	height: 180px;
}

.d1,
.d2 {
	writing-mode: vertical-lr;
	text-orientation: upright;
	color: white;
	background: linear-gradient(90deg, black 13%, pink);
	position: absolute;
	top: 200px;
	border-radius: 100px;
}

.d1:hover,
.d2:hover {
	display: flex;
	align-items: center;
	justify-content: center;
	color: pink;
	background: black;
	box-shadow: 5px 5px 30px 0px pink;
}

@media screen and (max-width: 900px) {
	.d1 {
		left: 160px;
		width: 100px;
		height: 100px;
	}
	.d1:hover {
		left: 160px;
		width: 100px;
		height: 100px;
	}
	.d2 {
		top: 340px;
		left: 160px;
		width: 160px;
		height: 160px;
		}
	.d2:hover {
		top: 340px;
		left: 160px;
		width: 160px;
		height: 160px;
	}
}