* {
	padding: 5px;
	margin: 5px;
	list-style: none;
	text-decoration: none;
	word-break: keep-all;
}

.bg {
	background-color: black;
	}

header {
	margin-top: 0px;
	padding-top: 0px;
}

.d1,
.d2 {
	color: black;
}

.d1 {
	background: white;
	width: 200px;
	height:200px;
	border-radius: 200px;
	font-size: 36px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
}

.d1:hover {
	background: black;
	color: white;
	border: 2.5px solid white;
}

.back {
	position: fixed;
	font-size: 35px;
	top: 20px;
	color: white;
	
}

.back:hover {
	color: gray;
}

.c1 {
	color: #666666;
	text-align: center;
	font-size: 22px;
	margin-left: 270px;
	margin-top: 40px;
}

nav {
	margin-top: 130px;
	margin-left: 25px;
	position: fixed;
}


li {
	font-size: 15px;
	margin: 15px;
	margin-bottom: 28px;
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	background: white;
	height:30px;
	width: 150px;
	border-radius: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.d2:hover {
	text-decoration: underline;
	text-underline-offset: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

article {
	text-align: center;
	margin-top: 50px;
}

.d3 {
	color: white;
	margin-left: 270px;
	font-size: 28px;
	text-decoration: underline;
	text-underline-offset: 5px;
	line-height: 35px;
}

.d3:hover {
	color: gray;
	text-decoration-color: gray;
}

section {
	align-items: flex-start;
	line-height: 35px;
	border: 3px solid white;
	border-radius: 100px;
	padding: 30px;
	margin-left: 270px;
	margin-bottom: 60px;
	padding-bottom: 50px;
}

.fs {
	font-size: 18px;
	padding: 15px;
}

.c1,
p {
	color: whitesmoke;
}

img {
	width: 40vw;
	padding: 30px;
}

.c2 {
	margin-top: px;
	margin-left: 270px;
	text-align: center;
	font-size: 15px;
	color: silver;
}

footer {
	text-align: center;
	margin-left: 270px;
	font-size: 12px;
}




@media screen and (max-width: 900px) {
	* {
		margin-left: 5px;
	}

	.d1 {
		font-size: 32px;
		width: 170px;
		height:170px;
		border-radius: 200px;
		text-align: center;
		position: static;
	}

	.d1:hover {
		border: 0px;
	}

	.back {
		margin-left: 0px;
		position: fixed;
		margin-top: 0px;
		font-size: 20px;
		top: 20px;
		color: black;
		background: white;
		height: 25px;
		width: 25px;
		border-radius: 100px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.back:hover {
		color: white;
		background: black;
	}

	.c1 {
		font-size: 18px;
	}

	nav {
		position: static;
		margin-top: 100px;
		margin-bottom: 120px;
		margin-left: 5px;

	}

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	li {
		height: 20px;
		width: 30vw;
		padding: 12px;
		padding-top: 18px;
		padding-bottom: 18px;
		margin-bottom: 0px;
		font-size: 14px;
	}

	h2 {
		font-size: 24px;
		text-decoration: underline;
	    text-underline-offset: 5px;
    }

    .d3 {
    	margin-left: 5px;
    }

	section {
		border: 2px solid white;
	}

	.c1,
	ul,
	h2,
	section {
		margin-left: 5px;
	}

	img {
		width: 60vw;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 0px;
	    margin-top: 30px;
	}

	.fs {
		font-size: 15px;
		margin-top: 40px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
	}

	.c2 {
		font-size: 13px;
		margin-left: 0px;
	}

	footer {
		text-align: center;
		margin-left: 0px;
		font-size: 12px;
	}
}
